@tailwind base;
@tailwind components;
@tailwind utilities;





.background-image {
  background-image: url('/hsn.png'); 
  background-position: center;
  background-size:cover;
  height:max-content; 

  @media (min-width: 1280px)  {
    width: 50vh;
}

  @media (min-width: 1024px) and (max-width: 1279px) {
       width: 50vh;
  }

  @media (min-width: 768px) and (max-width: 1023px) {
    display: hidden;

  }

  @media (min-width: 426px) and (max-width: 767px) {
    display: hidden;
  }

  @media (max-width: 425px) {
       display: hidden;
  }
}

.bx2{
  @media (max-width:640px){
    padding-top: 6%;
    padding-bottom: 6%;
   }
}